<h1><%= @movie.title %></h1>

<% if !@movie.tagline.blank? %>
	<p><b>Tagline: </b> <%= @movie.tagline %></p>
<%end%>


<% ['cast', 'overview'].each do |movie_key| %>
  <%if !@movie[movie_key].blank? %>
    <p><b><%= movie_key.capitalize %>: </b> <%= @movie[movie_key]%></p>
  <%end%>
<%end%>

<p>
	<% ['director', 'screenwriter'].each do |movie_key| %>
		  <% if !@movie[movie_key].blank? %>
		  	<%if @movie[movie_key].scan(/\w+[a-zA-Z]\s\w+[a-zA-Z]/).count > 1%>
		  		<b><%= movie_key.pluralize.capitalize %>: </b> <%= @movie[movie_key]%>
		  	<%else%>
		  	  <b><%= movie_key.capitalize %>: </b> <%= @movie[movie_key]%>
		  	<%end%>
		  <%end%>
	<%end%>
</p>

<p>
	<% ['poster', 'trailer'].each do |media_key| %>
	  <% if !@movie[media_key].blank? %>
	    <b> <%= media_key.capitalize %>: </b> <%= link_to('Link', @movie[media_key], :target => "_blank") %>
	  <%end%>
	<%end%>
</p>
