<h1>Score</h1>

<p>The correct score for <%= @movie.title %> is <b><%= @correct_score %></b></p>

<% @players.each do |player| %>
  <p><%= player.name %>'s score is now <%= player.score %></p>
<% end %>

<%= link_to "New round!", new_game_movie_path(params[:game_id]) %>